
@{
    ViewBag.Title = "Education";
}

<ol>
    <li>SCHOOL:DON BOSCO SCHOOL</li>
    <li>COLLEGE:QED ACADEMY</li>
    <li>UNIVERSITY: AMERICAN  INTERNATIONAL UNIVERSITY-BANGLAESH</li>
    <li>DEPARTMENT:COMPUTER SCIENCE AND ENGINEERING</li>
</ol>


