
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>
<ul>
    <li>OOP1:Restuarant Management System</li>
    <li>OOP2:Metrorail ticket booking system
    </li>
    <li>
        WEB TECHNOLOGY:Online car shop 
    </li>
    <li>
        ADVANCE WEB TECHNOLOGY: Online Doctor appointment system
    </li>
</ul>

